* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
}
:root {
  /*Primary*/
  --Orange: hsl(25, 97%, 53%);
  /* Neutral*/
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}
ul,
ol {
  list-style-type: none;
}
body {
  background-color: var(--Very-Dark-Blue);
  color: var(--White);
}
.thank-you-container {
  width: 24rem;
  height: 21rem;
  background-color: var(--Dark-Blue);
  margin: 0 auto;
  padding: 2em;
  border-radius: 1.2em;
  margin-top: 10em;
}
.selected-score {
  width: 150px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(213, 19%, 23%);
  padding: 7px 7px;
  border-radius: 10px;
  font-size: 13px;
  text-align: center;
  color: var(--Orange);
}

.thank-you-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-info {
  margin-top: 1em;
  text-align: center;
}
.message {
  font-size: 0.9em;
}
h2 {
  color: white;
}
@media only screen and (max-width: 400px) {
  .thank-you-container {
    width: 90%;
    height: 19.5rem;
    background-color: var(--Dark-Blue);
    margin: 1em auto;
    padding: 2em;
    border-radius: 1.2em;
    margin-top: 10em;
  }

  .message {
    font-size: 0.71em;
  }
}
